@import url("https://fonts.googleapis.com/css?family=El+Messiri:400,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: rgba(55, 116, 178,.5); */
}

html {
  font-size: 62.5%;
}

body {
  font-family: "El Messiri", sans-serif;
  color: white;
  min-width: 320px;
  max-width: 1920px;
  background: #f4f1ef;
}

@media only screen and (max-width: 772px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 500px) {
  html {
    font-size: 40%;
  }
}

.showItem {
  transform: scale(1);
}
